<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<title>Projeto jogar dados</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>

	<main>

	<div class="container col-12 col-sm-8 col-md-6 bg-dark p-2 text-center">

		<h1 class="text-primary">Projeto Jogar Dados</h1>

		<div class="container bg-dark">
			
			<div class="card-deck my-2">

				<div class="col-6 p-2">
					
					<div class="card">
						
						<div class="card-header text-primary">Pontos Acumulados</div>
						<div class="card-body bg-secondary text-light"><%= pontosAcumulados %></div>

					</div>


				</div>

				<div class="col-6 p-2">
					
					<div class="card">
						
						<div class="card-header text-primary">Número de lançamentos</div>
						<div class="card-body bg-secondary text-light"><%= nLancamentos%></div>

					</div>


				</div>

				<div class="col-12 p-2">
					
					<div class="card">
						
					<div class="card-header text-primary">Lançamentos</div>


					<div class="card-body bg-secondary text-light">

						<% for (var i=0; i < lancamento.length; i++) { %>

							<img src="img/dado<%= lancamento[i]%>.png" class="p-2 col-3-sm-2">

						<% } %>

					</div>

					</div>


				</div>

				<div class="col-12 p-2">
					
					<div class="card">
						
					<div class="card-header text-primary">Mostra Resultado</div>


					<div class="card-body bg-secondary text-light">

						<%= pontuou %>

						<% if(pontuou) { %>

							<img src="img/verde.png" height="200" width="200">

					
						<%} else { %>

							<img src="img/vermelho.png" height="200" width="200">

						<% } %> 

							
					</div>

					</div>


				</div>

				


				<div class="col-6 p-2">
					
					<div class="card">
						
						<div class="card-header text-primary">Lançamento do jogo</div>
						<div class="card-body bg-secondary text-light"><%= jogoLancamento %></div>

					</div>


				</div>

				<div class="col-6 p-2">
					
					<div class="card">
						
						<div class="card-header text-primary">Pontos do Lançamento</div>
						<div class="card-body bg-secondary text-light"><%= pontosLancamento %></div>

					</div>


				</div>

				

			</div>


		</div>

		<div class="col-12 mx-auto mt-2 px-4">

		<button class="btn btn-success text-dark btn-block" type="button" id="buttonLancarDados">Lançar Dados</button>

		</div>
		<div class="col-6 mx-auto p-4">

		<button class="btn btn-warning btn-block text-dark" type="button" id="buttonReiniciarJogo">Reiniciar</button>

		</div>
		<div class="col-6 mx-auto p-4">

		<button class="btn btn-danger btn-block text-dark" type="button" id="buttonEncerrarJogo">Encerrar</button>

		</div>

		


	</div>

	</main>

</body>

<script src="js/jquery-3.4.1.min.js"></script>

<script type="text/javascript">

	$(document).ready(function(){

		$('#buttonLancarDados').click(function(){
			location.href='lancarDados';
		});

		$('#buttonReiniciarJogo').click(function(){
			location.href='reiniciar';
		});

		$('#buttonEncerrarJogo').click(function(){
			location.href='encerrar';
		});

		

	});
</script>


</html>